body {
  background-image: url("../img/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  font-family: 'Roboto Slab', serif;
  color: white;
}

.check_img {
  height: 0;
  padding-top: 80%;
  position: relative;
  display: block;
}

.btn-img, .btn-show-form {
  background: none;
}

.btn-show-form {
  color: white;
}

.btn-show-form:hover {
  color: deepskyblue;
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

.container-fluid {
  box-shadow: 2px 2px 3px #98bcff, -2px -2px 3px #98bcff, 2px -2px 3px #98bcff, -2px 2px 3px #98bcff;
}

.menu__items ul li {
  display: block;
  margin: 10px 0;
}

a {
  font-size: 20px;
  color: white;
}

a:hover {
  color: #83aef6;
}

h1, .user-name {
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
}

h2 {
  padding-top: 10px;
  font-size: 18px;
}

.menu {
  background: rgba(176, 183, 201, 0.3);
  border: 1px solid #83aef6;
}

.page {
  padding: 0;
  background-color: rgba( 26, 26, 29, 0.7);
}

.menu__header {
  margin-bottom: 10px;
}

.menu__items {
  padding: 10px;
}

.page__header {
  background-color: #1d1d1d;
  border-bottom: 2px solid #83aef6;
}

.page__content {
  padding: 30px;
}

.btn-group {
  width: 100%;
}

.btn-outline-success {
  color: white;
  background-color: green;
}

.name {
  margin-right: 20px ;
}
.name, .date {
  display: inline-block;
}

.btn-list {
  margin: 15px;
}

.rounded-circle {
  max-width: 80px;
}

.table>tbody {
  vertical-align: middle;
}

.custom-select {
  color: whitesmoke;
  background-color: #1a1a1d;
  border: 2px solid #1a1f1e;
  padding: 7px;
  border-radius: 5px;
}

/*--------------------Messages-----------------------*/

.message, .black-list, .msg  {
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid deepskyblue;
  border-radius: 5px;
}

.message__data {
  padding: 10px 0;
}

.msg {
  padding: 15px;
  line-height: 1.5;
  background-color:  #1a1a1d;
  color: white;
  font-size: 18px;
  display: none;
}

.msg p {
  text-indent: 30px;
  margin: 0;
}

.msg .theme {
  padding: 5px 10px;
  color: white;
  background-color:  #1a1f1e;
  border-radius: 5px 5px 0 0;
  border: 1px solid deepskyblue;
}

.msg textarea {
  border: 1px solid deepskyblue;
}

.msg input {
  border-radius: 0 0 5px 5px;
}

.show_more {
  transition: active .5s;
}

.show_more:active {
  margin-top: 3px;
  background: #088BD0;
}


/*--------------------------TOAST---------------------------*/
#toast-container {
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

#toast-container .success{
  color: #09ff3f;
  border-color: #46f86f;
}

#toast-container .warning{
  color: #faba02;
  border-color: #fdcf33;
}

#toast-container .error{
  color: #ff0015;
  border-color: #ff1f3c;
}

.toast{
  background-color: rgba(16,16,12, .7);
  width: 100%;
  margin: 10px 0 0 0 ;
  padding: 15px 10px;
  font-size: 18px;
  border-radius: 10px;
}

/*--------------------------MODAL---------------------------------*/
.modal {
  overflow: auto;
  opacity: 1;
  pointer-events: all;
  display: block;
  padding: 40px;
  background-color: rgba(16,20,30,0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  transform: scale(0);
  transition: 200ms ease-in-out;
}

.content-modal{
  height: inherit;
  width: inherit;
  border-radius: 7px;
  padding: 10px 30px 30px;
  background-color: #1a1a1d;

}

.modal_header h1{
  margin: 0; !important;
}

#close_modal {
  width: auto;
  text-align: center;
  cursor: pointer;
  transition: all 0.6s;
}

#close_modal img {
  height: 45px;
  transition: all 0.6s;
}

#close_modal img:hover {
color: red;
transform: rotate(90deg);
}
.modal_body {
  max-height: 86%;
  overflow: auto;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .8), 0 16px 20px  rgba(0, 0, 0, .8);
  margin: 15px auto;
}

@media (max-width: 662px) {
  .modal_body {
    max-height: 80%;
  }
}
@media (max-height: 450px) {
  .modal_body {
    max-height: 78%;
  }
}

@media (max-width: 513px) {
  .modal_body {
    max-height: 74%;
  }
}

.table-modal {
margin: 0;
min-width: 950px;
}

.ratio_image {
width: 100px;
height: 100px;
float: left;
margin: 20px;
position: relative;
overflow: hidden;
}

.ratio_image:before {
width: 100%;
display: block;
content: "";
}

.ratio_image img {
min-width: 100%;
min-height: 100%;
position: absolute;
top: 0;
left: 0;
}

.ratio_image img {
width: 100%;
}

.ratio_image_1x1:before {
padding-top: 100%; /* (300 / 300) * 100%; */
}

.modal table td {
  width: 100px;
  padding: 10px;
}

.vip, .premium, .classic {
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: #E41462;
  padding: 7px;
  border-radius: 5px;
}

.premium {
  background-color: gold;
}

.classic {
  color: black;
  background-color: white;
}


